<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

 <!-- <button [a]="a" [b]="b">click</button> -->
<!-- Toolbar -->
<p>
    ===================================parent==================================
</p>
<h1>hello world</h1>
<!-- {{message}} -->
<p>welcome{{name}}</p> 
 <!-- {{obj}} -->
 <h4>=======Child To Parent======</h4>
 <table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
    </tr>
    <!-- *ngFor="let e of formDataFromChild" -->
    <tr *ngFor="let e of formDataFromChild">
       <td>{{e.name}}</td>
       <td>{{e.email}}</td>
       <td>{{e.address}}</td>
    </tr>
</table>

<p>===============================child to parent in viewchild===============================</p>
<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
    </tr>
    <!-- *ngFor="let e of formDataFromChild" -->
    <tr *ngFor="let e of dataFromChildInView">
       <td>{{e.contactId}}</td>
       <td>{{e.contactName}}</td>
       <td>{{e.contactNumber}}</td>
    </tr>
</table>

<p>
    =====================================child===========================================
</p>
<app-header (toParent)="fromChild($event)" (formSubmit)="loadData($event)" (outter)=" funFromchild($event)" [property]="title" [a]="a" [b]="b" [details]="details" [arrdetails]="arrdetails" ></app-header>
<h4>From child</h4>
<ul *ngIf="dataFromChild">
    <li>{{dataFromChild.name}}-{{dataFromChild.gender}}</li>   
</ul>
<!-- <input [(ngModel)]="role" type="text" name="" id=""> -->
<p>{{role}}</p>

<!-- <div class="app-header"></div> -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
